<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.geofencinglab" android:installLocation="preferExternal">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
  <application android:label="GeofencingLab" android:theme="@style/MainTheme">
    <!--<receiver android:name="MyReceiverTest"
							android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_LOW" />
			</intent-filter>
    </receiver>-->
  </application>
  <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.BATTERY_STATS" />

  <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
  <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
  <!--<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />-->
  <!--<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />-->
</manifest>